.card {
  // background: url("../../../assets/img/no-image.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  width: 85vw;
  height: 80vh;
  text-shadow: 5px 2px 3px black;
  @media (min-width: 600px) {
    height: 450px;
    max-width: 300px;
    background-position: top;
    background-attachment: initial;
  }
}

.info {
  color: white;
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 9px 9px;
  background: url("../../../assets/img/navbar.jpg");
  text-shadow: 0.2px 0.2px 2.5px white;
  h3 {
    font-size: 32px;
    font-weight: bolder;
  }
  h4 {
    font-weight: bold;
  }
}

.starship {
  display: flex;
  margin: 2rem 0 1rem;
  border-bottom: 1px dashed orange;
  line-height: 1.7;
  h4 {
    font-size: 24px;
  }
  .rocket {
    margin: 0 5px 0 0;
  }
}

.flip-card,
.flip-card-front,
.flip-card-back {
  width: 85vw;
  height: 80vh;
  text-shadow: 5px 2px 3px black;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  @media (min-width: 600px) {
    height: 450px;
    max-width: 300px;
    background-position: top;
    background-attachment: initial;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  text-shadow: 0.3px 0.3px 1px white;
  transform: rotateY(180deg);
  overflow-y: auto;

  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    margin: 0 0 0 1rem;
  }
}

.card-header {
  width: 100%;
  height: 100px;
  border-radius: 9px 9px 0 0;
  background: url("../../../assets/img/navbar.jpg");
}

.card-inner-element {
  margin: -60px 0 0 0;
  padding: 0 2rem 2rem 2rem;
}

.header-image {
  display: flex;
  flex-flow: column;
  align-items: center;
  .title {
    font-size: 32px;
  }
}

.personal-list {
  display: flex;
  justify-content: center;
  p {
    margin: 0 10px;
  }
}
.technical {
  margin: 2px 0;
}
