<app-header></app-header>
<app-search-bar
  id="navbar"
  (inputEmitter)="inputReceived($event)"
></app-search-bar>
<app-people-grid
  id="people-grid"
  [isLoading]="isLoading"
  [peoples]="peoples"
></app-people-grid>
<app-loader></app-loader>
<section class="pagination">
  <button
    [disabled]="isDisabled(pagination.previous)"
    (click)="previousSearch()"
    class="pagination-button"
  >
    <fa-icon class="pagination-text" [icon]="previous"></fa-icon>
  </button>
  <button
    *ngFor="let item of pagination.buttonsPagination; let i = index"
    (click)="searchByPage(i)"
    class="pagination-number {{ item.style }}"
  >
    {{ i + 1 }}
  </button>
  <button
    [disabled]="isDisabled(pagination.next)"
    (click)="nextSearch()"
    class="pagination-button"
  >
    <fa-icon class="pagination-text" [icon]="next"></fa-icon>
  </button>
</section>
